/* Les titres des films */
.film-title {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: white;
  padding: 0.25rem 1rem;
  font-weight: bold;
  font-size: 0.875rem;
  text-align: center;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  background-color: rgba(187, 91, 91, 0.75);
}
/* Les images des films */
.film-img{
   width: 100%;
  height: auto;
  object-fit: fill;
}
/* Le bouton détails */
.details-button {
  position: absolute;
  bottom: 20px; /* positionné en bas */
  left: 0;
  width: 100%; /* prend toute la largeur de l'image */
  background-color: #5f5253c6;
  color: white;
  padding: 10px 0px;
  border-radius: 0px; /* A tritre informatif*/
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
/* L'effet rouge du bouton quand on passe notre curseur */
.details-button:hover {
  background-color: #ab3b3b;
}


.film-category-title h1 {
  font-size: 24px;
  color: black;
  margin: 2rem auto;
  background-color: rgba(242, 238, 238, 0.765);
  padding: 0.2rem;
  font-size: 2rem;
  border-radius: 2rem;

}

/* Placement des boutons à choix multiples */
.choix-multiples {
  display: flex;
  flex-direction: column;        
  align-items: center;           
  gap: 1.5rem;                   
  margin: 2rem auto;
  max-width: 800px;
  text-align: center;
}

